/* @body background style
----------------------------------------------- */
.jazz-timeline-wrapper,
.jazz-timeline-wrapper *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0;
	margin:0;
	position: relative;
}

.jazz-timeline-wrapper {
	width: 90%;
	max-width: 1024px;
	margin: 2em auto;
	font-family:'Jaldi', sans-serif;
	font-weight:400;
	display: table;
}

/* start timeline styling | the vertical line
--------------------------------------------------- */
.jazz-timeline {
	padding: 0;
	position: absolute;
	width: 100%;
}

.jazz-timeline:before,
.multiline-timeline .timeline-post:before{
	content: "";
	background-color: #C1C1C1;
   	background-image: -webkit-linear-gradient(top, #EAF0F2 0%, #C1C1C1 8%, #C1C1C1 92%, #EAF0F2 100%);
    background-image: -moz-linear-gradient(top, #EAF0F2 0%, #C1C1C1 8%, #C1C1C1 92%, #EAF0F2 100%);
    background-image: -ms-linear-gradient(top, #EAF0F2 0%, #C1C1C1 8%, #C1C1C1 92%, #EAF0F2 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-left: -2px;
	position: absolute;
	display: block;
	height: 100%;
	width: 4px;
	left: 50%;
	top: 0;
}

/* timeline post stying
----------------------------------------------- */
.jazz-timeline .timeline-post {
	margin: 0;
	border: 0 none;
	padding: 0 60px 5px 0;
	width: 50%;
}

.jazz-timeline .timeline-post:nth-child(even) {
	margin-left: 50%;
	padding: 0 0 5px 60px;
}

.jazz-timeline .timeline-post:last-child,
.jazz-timeline .timeline-post:nth-child(even):last-child {
	padding-bottom: 0;
}

/* timeline meta | for date
-------------------------------------------------------- */
.jazz-timeline .timeline-post .timeline-meta .activity-time {
	color: #999;
	font-weight:400;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0px;
	position: relative;
	text-align: right !important;
}

.jazz-timeline .timeline-post:nth-child(even) .timeline-meta {
	left: 0;
	right: 0;
	margin: 0px;
	position: relative;
	text-align: left;
}

.jazz-timeline .timeline-post .timeline-meta .meta-details{ color:#6A7686; margin-top: 5px; }
.jazz-timeline .timeline-post .for-large-icons{ margin: 45px 0 0 50px; }
.jazz-timeline .timeline-post:nth-child(even) .for-large-icons{ margin: 45px 50px 0 0; }

/*
---------------------------------------------------------------
TIMELINE DIVIDERS | DECORATIONS
---------------------------------------------------------------
*/

.add-activity-icon-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.add-first-activity {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 5px 5px 5px;
	width: 110px;
	text-align: center;
	position: relative;
	display: table;
	margin: 40px auto;
	font-family:'Jaldi', sans-serif;
	font-weight:400;
	font-size: 14px;
}

.add-first-activity:before,
.add-first-activity:after {
	content: "";
	display: block;
	border: 15px solid transparent;
	border-bottom-color: #FFFFFF;
	position: absolute;
	right: 37%;
	top: -30px;
}

.add-first-trip {
	background: #FFFFFF;
	position: relative;
	border: 1px solid #FFFFFF;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 5px 5px 5px;
	width: 110px;
	text-align: center;
	margin: 20px auto;
	font-family:'Jaldi', sans-serif;
	font-weight:400;
	font-size: 14px;
}

.add-first-trip:before,
.add-first-trip:after {
	content: "";
	display: block;
	border: 15px solid transparent;
	border-bottom-color: #FFFFFF;
	position: absolute;
	right: 37%;
	top: -30px;
}

/* add activity icon
------------------------------------------------------------- */

.add-activity-icon {
	position: absolute;
	left: 50%;
	margin-left: -10px;
	text-align: center;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	color: #171717;
	height: 20px;
	width: 20px;
	z-index:10;
	background:#3F51B5;
	cursor: pointer;
}

.add-activity-icon .activity-icon{
	position: relative;
  top: -2px;
	left: -2px;
  color: #FFFFFF !important;
}

.add-trip-icon {
	position: relative;
	left: 50%;
	margin-left: -10px;
	text-align: center;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	color: #171717;
	height: 18px;
	width: 18px;
	z-index:10;
	background:#3F51B5;
	cursor: pointer;
}

.add-trip-icon .trip-icon{
	position: relative;
  top: -3px;
	left: -3px;
  color: #FFFFFF !important;
}

/* large circular seperator | can have dates or icons
------------------------------------------------------------- */
.jazz-timeline .timeline-post .timeline-icon {
	background:#fff;
	line-height: 70px;
	position: absolute;
  margin: -3px -25px 0 -25px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	color: #171717;
	font-size: 18px;
	height: 50px;
	width: 50px;
	left: 0px;
	z-index:10;
	cursor: pointer;
}

.jazz-timeline .timeline-post:nth-child(odd) .timeline-icon {
	/*background:#fff;*/
	line-height: 70px;
	position: absolute;
	margin: -3px -25px 0 -25px;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	color: #171717;
	font-size: 18px;
	height: 50px;
	width: 50px;
	left: 100%;
	z-index:10;
	cursor: pointer;
}

.jazz-timeline .timeline-post .timeline-icon .icon-placeholder{
	line-height:30px;
	font-weight:400;
	font-size:13px;
	left: 26%;
  top: 24%;
}

.jazz-timeline .timeline-post .timeline-icon .icon-placeholder .activity-icon{
	position: relative;
  color: #FFFFFF !important;
}

.jazz-timeline .timeline-post:nth-child(even) .timeline-icon .icon-placeholder .activityIcon{
	position: relative;
  color: #FFFFFF !important;
}

/* Timeline large icon backgrounds ||
------------------------------------------------------------------------- */

.jazz-timeline .timeline-post .iconbg-blue { background:#2196F3; }
.jazz-timeline .timeline-post .iconbg-grey { background:#7E8DA3; }
.jazz-timeline .timeline-post .iconbg-indigo { background:#3F51B5; }

.jazz-timeline .timeline-post .iconbg-blue,
.jazz-timeline .timeline-post .iconbg-grey,
.jazz-timeline .timeline-post .iconbg-indigo{
	-webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.15), 0 3px 0 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.15), 0 3px 0 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.15), 0 3px 0 4px rgba(0, 0, 0, 0.15);
}

.jazz-timeline .timeline-post .icon-color-white{ color:#FFFFFF; }
.jazz-timeline .timeline-post .icon-color-black{ color:#000000; }

/* Timeline content panels
------------------------------------------------------------------- */
.jazz-timeline .timeline-post .timeline-content {
	background: #fff;
	position: relative;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}

.jazz-timeline .timeline-post.no-padding .timeline-content { padding: 0; }
.jazz-timeline .timeline-post .timeline-content p{
	padding: 0px 10px 3px 8px;
	line-height:25px;
	font-size:16px;
	font-weight:400;
}

.jazz-timeline .timeline-post.no-padding .timeline-content { padding: 0; }
.jazz-timeline .timeline-post .timeline-content .content{
	padding: 0px 10px 0px 8px;
	line-height:25px;
	font-size:16px;
	font-weight:400;
}

.jazz-timeline .timeline-post .timeline-content .content-title {
	font-size: 24px;
	font-family:'Jaldi', sans-serif;
	margin: 0;
	font-weight:700;
	background: #E7EBEE;
	padding: 0px 10px 0px 8px;
	margin: 0px;
	-webkit-border-radius: 2px 0px 2px 2px;
	-moz-border-radius: 2px 0px 2px 2px;
	border-radius: 2px 0px 2px 2px;
}

.jazz-timeline .timeline-post:nth-child(even) .timeline-content .content-title {
	font-size: 24px;
	font-family:'Jaldi', sans-serif;
	margin: 0;
	font-weight:700;
	background: #E7EBEE;
	padding: 0px 10px 0px 8px;
	margin: 0px;
	-webkit-border-radius: 0px 2px 2px;
	-moz-border-radius: 0px 2px 2px;
	border-radius: 0px 2px 2px;
}

.jazz-timeline .timeline-post .timeline-content .content-title span{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jazz-timeline .timeline-post .timeline-content .content-details { margin: 5px 0px 0px; }

/* Posts arrows
-------------------------------------------------------------- */
.jazz-timeline .timeline-post .timeline-content:before,
.jazz-timeline .timeline-post .timeline-content:after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left-color: #fff;
	position: absolute;
	right: -40px;
	top: 0px;
}

.jazz-timeline .timeline-post .timeline-content:after {
	border: 20px solid transparent;
	border-left-color: #fff;
	right: -40px;
	top: 0px;
}

.jazz-timeline .timeline-post:nth-child(even) .timeline-content:before {
	border: 20px solid transparent;
	border-right-color: #fff;
	left: -40px;
	right: auto;
}

.jazz-timeline .timeline-post:nth-child(even) .timeline-content:after {
	border: 20px solid transparent;
	border-right-color: #fff;
	left: -40px;
	right: auto;
}

/* left sided posts
-------------------------------------------------------------------- */
.jazz-timeline.one-sided .timeline-post .timeline-content:after,
.jazz-timeline.one-sided .timeline-post .timeline-content:before{
	border: 21px solid transparent;
	border-right-color: #fff;
	left: -31px;
	right: auto;
}

.jazz-timeline.one-sided .timeline-post:nth-child(even) .timeline-content:after,
.jazz-timeline.one-sided .timeline-post:nth-child(even) .timeline-content:before{
	border: 21px solid transparent;
	border-right-color: #fff;
	left: -31px;
	right: auto;
}


/*
------------------------------------------------
TIMELINE POST THEME
------------------------------------------------
*/

/* grey post
---------------------------------------------- */
.jazz-timeline .grey-post .timeline-content{
	background:#FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#687486;
}

.jazz-timeline .grey-post .timeline-content .content-title {
	color:#3F51B5;
}
.jazz-timeline .grey-post .timeline-content:after,
.jazz-timeline .grey-post .timeline-content:before { border-left-color:#E7EBEE; }
.jazz-timeline .grey-post:nth-child(even) .timeline-content:after,
.jazz-timeline .grey-post:nth-child(even) .timeline-content:before,
.jazz-timeline.one-sided .grey-post .timeline-content:after,
.jazz-timeline.one-sided .grey-post .timeline-content:before,
.jazz-timeline.one-sided .grey-post:nth-child(even) .timeline-content:after,
.jazz-timeline.one-sided .grey-post:nth-child(even) .timeline-content:before {
	border: 20px solid transparent;
	border-right-color:#E7EBEE;
}

/* solid shadow timeline | dark solid shadows on posts
-------------------------------------------------------------- */
.solid-shadow .timeline-post .timeline-content {
	-webkit-box-shadow: 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

/* @responsive styling
----------------------------------------------- */
@media (max-width: 860px) {

	.jazz-timeline:before,
	.multiline-timeline .timeline-post:before { left: 16px; }
	.jazz-timeline .timeline-post,
	.jazz-timeline .timeline-post:nth-child(even) {
		margin: 0;
		padding: 0 0 30px 70px;
		width: 100%;
	}

	.jazz-timeline .timeline-post .timeline-meta,
	.jazz-timeline .timeline-post:nth-child(even) .timeline-meta {
		left: 0;
		right: 0;
		margin: 0px;
		position: relative;
		text-align: left;
	}

	.jazz-timeline .timeline-post .timeline-icon {
		left: 0;
		margin: 22px 0 0 0;
	}

	.add-activity-icon {
		left: 0;
		margin: 0 0 30px 6px;
	}

	.add-first-activity {
		position: absolute;
		padding: 5px 5px 5px 5px;
		margin: -4px 0px 0px 46px;
	}

	.add-first-activity:before,
	.add-first-activity:after {
		border: 14px solid transparent;
		border-right-color: #FFFFFF;
		right: 108px;
		top: -1px;
	}

	.jazz-timeline .timeline-post:nth-child(odd) .timeline-icon {
		left: 0px;
		margin: -3px -25px 0 -10px;

	}

	.jazz-timeline .timeline-post .timeline-content:before,
	.jazz-timeline .timeline-post:nth-child(even) .timeline-content:before {
		border: 15px solid transparent;
		border-right-color: #E7EBEE;
		left: -31px;
		right: auto;
	}

	.jazz-timeline .timeline-post .timeline-content:after,
	.jazz-timeline .timeline-post:nth-child(even) .timeline-content:after {
		border: 20px solid transparent;
		border-right-color: #E7EBEE;
		top: 0px;
		left: -40px;
		right: auto;
	}

	.jazz-timeline .grey-post .timeline-content:after,
	.jazz-timeline .grey-post .timeline-content:before,
	.jazz-timeline .grey-post:nth-child(even) .timeline-content:after,
	.jazz-timeline .grey-post:nth-child(even) .timeline-content:before { border-right-color:#E7EBEE; }

	.solid-shadow .timeline-post .timeline-content:before,
	.solid-shadow .timeline-post:nth-child(even) .timeline-content:before{
		border: 15px solid transparent;
		left: -31px;
		top: 29px;
	}

	.jazz-timeline .timeline-post .timeline-content .content-details img { width: 100%; }
	.jazz-timeline .timeline-post .icon-dot .timeline-bar{ left:4px; }
	.jazz-timeline .timeline-post .icon-dot{
		margin: 30px 0 0 10px;
		height: 14px;
		width: 14px;
	}

	.bordered-timeline .timeline-post .timeline-content:before,
	.bordered-timeline .timeline-post:nth-child(even) .timeline-content:before {
		border: 15px solid transparent;
		border-right-color: #bbb;
		left: -31px;
		top: 26px;
	}

	.jazz-timeline .timeline-post .icon-dot-full,
	.jazz-timeline .timeline-post .icon-dot-full-white{ margin: 30px 0 0 9px;  }


	.jazz-timeline .timeline-post .icon-larger,
	.jazz-timeline.one-sided .timeline-post .icon-larger{
		left: 0;
		margin: -3px 0 0 -10px;
		line-height: 50px;
		height: 50px;
		width: 50px;
	}

	.jazz-timeline.one-sided .timeline-post .icon-larger{ margin: 22px 0 0 -25px; }
	.jazz-timeline.one-sided .timeline-post,
	.jazz-timeline.one-sided .timeline-post:nth-child(even) { padding: 0 0 30px 50px; }

	.jazz-timeline .timeline-post .icon-larger .icon-placeholder{ padding:2px 0; }
	.jazz-timeline .timeline-post .icon-larger .icon-placeholder i{ line-height:48px; }
	.jazz-timeline .timeline-post .icon-larger .icon-placeholder span{
		line-height:0;
		font-weight:700;
		font-size:18px;
	}

	.jazz-timeline .timeline-post .timeline-content .content-title {
		-webkit-border-radius: 0px 2px 2px;
		-moz-border-radius: 0px 2px 2px;
		border-radius: 0px 2px 2px;
	}

	.jazz-timeline .timeline-post:nth-child(even) .timeline-content .content-title {
		-webkit-border-radius: 0px 2px 2px;
		-moz-border-radius: 0px 2px 2px;
		border-radius: 0px 2px 2px;
	}
}
